*{
    margin: 0;
    padding: 0;
}

html{
    background: #f7f7f7;
}

input[type=text], input[type=email]{
    background: none;
    border: none;
    border-bottom: 1px solid #eca725;
    outline: none;
    font-size: 1em;
    padding-bottom: 5px;
}

.erreur-form{
    text-align: center;
    color: #d10202;
    font-family: 'Comfortaa', cursive;
    background: rgba(209, 2, 2, 0.3);
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    line-height: 25px;
}

header{
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 20px;
    background: #eca725;
}


header img{
    height: 100px;
    display: block;
    margin: 0 auto;
}

header h1{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 20px;
}

.content{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.content-scratch h2, .content-home h2{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: #eca725;
}

.content-scratch h3, .content-home h3{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: #2f2f2f;
    font-size: 1em;
    margin-bottom: 20px;
}

.content-gratte{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-gratte scratch-card{
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px dotted #bfbfbf;
}

.content-gratte:hover{
    cursor:pointer;
}

#resultat-grattage{
    text-align: center;
    margin-top: 52px;
    font-family: 'Comfortaa', cursive;
}

#resultat-grattage .final-text{
    margin-top: 30px;
    font-weight: 700;
}

#resultat-grattage h4{
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #eca725;
}

#resultat-grattage .loose-title{
    color: #d10202;    
}

footer{
    font-family: 'Comfortaa', cursive;
}

.credits{
    position: fixed;
    bottom: 20px;
    text-align: center;
    font-size: 13px;
    width: 100%;
}

.credits a{
    color: #eca725;
    text-decoration: none;
}

.credits a:hover{
    color: #2f2f2f; 
}

form{
    display: block;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px
}

form input{
    width: 100%;
    margin-bottom: 20px;
}

form input[type=submit]{
    border: 1px solid #eca725;
    padding: 10px;
    background: none;
    color: #eca725;
    transition: 0.5s;
}

form input[type=submit]:hover{
    cursor: pointer;
    background: #eca725;
    color: #2f2f2f;
    transition: 0.5s;
}

form img{
    margin-bottom: 10px;
}

.finish{
    margin-top: 100px;
    font-weight: 700;
    color: #d10202;
    font-family: 'Comfortaa', cursive;
}

@media screen and (max-height: 800px) {
    .credits{
        position: inherit;
        margin-top: 20px;
    }
}

@media screen and (max-width: 835px) {
    .content-gratte{
        display: block;
    }

    .content-gratte scratch-card {
        margin: 10px auto;
        max-height: 200px;
        max-height: 200px;
    }
    
    .credits{
        bottom: 10px;
    }
    
    @media screen and (max-height: 970px) {
    .credits{
        position: inherit;
        margin: 20px 0px;
    }
}
}